@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  /* background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5); */
  background-blend-mode: multiply;
  
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 120px; */
  margin-bottom: 28px;
}

.progress-main-line {
  margin-left: 20px;
  width: 200px;
  height: 8px;
  background-color: white;
  opacity: 0.8;
  cursor: pointer;
  position: relative;
}

.progress-title {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
}

.progress-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background-color: #C5B358;
  cursor: pointer;
}

.duration-timer {
  display: flex;
  margin-left: 10px;
  opacity: 0.8;
}

.current-duration::after {
  content: "/";
  margin: 0 3px;
}

.volume-icon {
  height: 25px;
  width: 25px;
  outline: 0;
  border: none;
  background: none;
  background-image: url('../assets/svg/volume.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  opacity: 0.8;
  margin-left: 10px;
  cursor: pointer;
}

.volume-icon-muted {
  background-image: url('../assets/svg/mute.svg')
}

.volume {
  -webkit-appearance: none;
  width: 80px;
  background-color: white;
  opacity: 0.8;
  height: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #C5B358;
}

.play-list {
  text-align: left;
}

.play-item {
  width: 180px;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  background-image: url('../assets/svg/play-item.svg');
  background-repeat: no-repeat;
  background-position: top 6px left;
  background-size: 13px 13px;
}

.play-item-pause {
  background-image: url('../assets/svg/pause-item.svg');
}

.play-item:hover {
  opacity: 1;
}

.item-active {
  color: #C5B358;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.link-git:hover,
.settings:hover,
.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.link-rsschool {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
  margin-left: 5px;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
  margin-left: 5px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
  position: relative;
}

.settings {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-image: url('../assets/svg/settings.svg');
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  opacity: 0.7;
  cursor: pointer;
  transition: .3s; 
}

.settings-wrap {
  position: absolute;
  left: 60px;
  bottom: 100px;
  background-color: black;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: 0.5s;
}

.language-wrap {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.background-wrap {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.courses {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.link-git {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: 0.3s;
}

.make-year {
  margin-right: 15px;
  opacity: 0.8;
}

.link-rsschool {
  width: 50px;
  height: 40px;
  background-image: url('../assets/svg/rs_school_js.svg');
  background-repeat: no-repeat;
  opacity: 0.8;
}

.select-lang:hover,
.select-bg:hover,
.link-git:hover {
  cursor: pointer;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
